<div id="<%= dom_id adjustment %>">
  <p>
    <strong>Loan:</strong>
    <%= adjustment.loan_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= adjustment.amount %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= adjustment.interest_rate %>
  </p>

</div>
