<h1>Editing adjustment</h1>

<%= render "form", adjustment: @adjustment %>

<br>

<div>
  <%= link_to "Show this adjustment", @adjustment %> |
  <%= link_to "Back to adjustments", adjustments_path %>
</div>
